.q-container-primary-header {
  container-name: q-container-primary-header;
}

.primary-header {
  --_primary-header-fg-clr: var(--clr-primary-header-fg);
  --_primary-header-bg-clr: var(--clr-primary-header-bg);
  --_primary-header-border-clr: var(--clr-primary-header-border);
  --_primary-header-border: thin solid var(--_primary-header-border-clr);

  --_primary-header-brand-width: theme("width.10");

  --_primary-header-link-clr: var(--clr-primary-header-fg);
  --_primary-header-link-bg-clr: var(--clr-primary-header-bg);
  --_primary-header-link-border-clr: var(--clr-primary-header-border);
  --_primary-header-link-border: thin solid
    var(--_primary-header-link-border-clr);
  --_primary-header-link-decoration: none;
  --_primary-header-link-ff: var(--ff-primary);

  --_primary-header-link-hover-clr: var(--clr-primary-header-fg);
  --_primary-header-link-hover-bg-clr: var(--clr-primary-header-hover-bg);
  --_primary-header-link-hover-border-clr: var(--clr-primary-header-border);
  --_primary-header-link-hover-border: thin solid
    var(--_primary-header-link-hover-border-clr);
  --_primary-header-link-hover-decoration: none;

  --_primary-header-link-alt-clr: var(--clr-primary-header-fg-alt);
  --_primary-header-link-alt-bg-clr: transparent;
  --_primary-header-link-alt-decoration: underline;
  --_primary-header-link-alt-ff: var(--ff-secondary);

  --_primary-header-link-alt-hover-clr: var(--clr-primary-header-hover-fg-alt);
  --_primary-header-link-alt-hover-bg-clr: transparent;
  --_primary-header-link-alt-hover-decoration: underline;

  --_primary-header-spacer-inline: theme("spacing.4");
  --_primary-header-spacer-block: theme("spacing.3");
  --_primary-header-spacer-block-end: theme("spacing.7");
  --_primary-header-spacer-gap: theme("spacing.2");

  --_primary-header-ai: center;
  --_primary-header-jc: center;

  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__brand {
    display: none;
    max-width: var(--_primary-header-brand-width);
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__link,
    &__link:active,
    &__link:visited {
      display: inline-flex;
      align-items: var(--_primary-header-ai);
      justify-content: var(--_primary-header-jc);
      color: var(--_primary-header-link-clr);
      background-color: var(--_primary-header-link-bg-clr);
      border-block-start: var(--_primary-header-link-border);
      flex-direction: column;
      gap: var(--_primary-header-spacer-gap);
      padding-block-start: var(--_primary-header-spacer-block);
      padding-block-end: var(--_primary-header-spacer-block-end);
      padding-inline-start: var(--_primary-header-spacer-inline);
      padding-inline-end: var(--_primary-header-spacer-inline);
      text-decoration: var(--_primary-header-link-decoration);
      font-family: var(--_primary-header-link-ff);

      &:hover {
        color: var(--_primary-header-link-hover-clr);
        background-color: var(--_primary-header-link-hover-bg-clr);
        border-block-start: var(--_primary-header-link-hover-border);
        text-decoration: var(--_primary-header-link-hover-decoration);
      }
    }
  }
}

@media screen and (width >= theme("screens.md")) {
  .primary-header {
    position: fixed;
    top: 0;
    bottom: auto;
    background-color: var(--_primary-header-bg-clr);
    border-block-end: var(--_primary-header-border);

    &__brand {
      display: block;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__nav {
      &__link,
      &__link:active,
      &__link:visited {
        --_primary-header-spacer-inline: theme("spacing.3");
        --_primary-header-spacer-block: theme("spacing.2");
        --_primary-header-spacer-block-end: theme("spacing.2");

        color: var(--_primary-header-link-alt-clr);
        background-color: var(--_primary-header-link-alt-bg-clr);
        border-block-start: none;
        flex-direction: row;
        text-decoration: var(--_primary-header-alt-link-decoration);
        font-family: var(--_primary-header-link-alt-ff);
        font-weight: theme("fontWeight.bold");

        &:hover {
          color: var(--_primary-header-link-alt-hover-clr);
          background-color: var(--_primary-header-link-alt-hover-bg-clr);
          border-block-start: none;
          text-decoration: var(--_primary-header-link-alt-hover-decoration);
        }
      }

      &__link__image {
        display: none;
      }
    }
  }
}
