@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset";

:root {
  --primary-spacer: theme("spacing.4");

  --wrapper-width: theme("screens.lg");
  --card-width: 200px;
  --flow-spacer: var(--primary-spacer);
  --header-height-sm: 6.73em;
  --header-height-lg: 3.8em;

  --clr-bg: theme("colors.ibYellow.50");
  --clr-fg: theme("colors.ibMaroon.500");
  --clr-a: theme("colors.ibBrickRed.500");
  --clr-a-hover: theme("colors.ibBrickRed.700");

  --clr-primary-header-bg: theme("colors.ibGreen.200");
  --clr-primary-header-hover-bg: theme("colors.ibGreen.300");
  --clr-primary-header-border: theme("colors.ibGreen.500");
  --clr-primary-header-fg: theme("colors.black");
  --clr-primary-header-fg-alt: theme("colors.ibMaroon.500");
  --clr-primary-header-hover-fg-alt: theme("colors.ibMaroon.700");

  --clr-tabs-bg: theme("colors.ibYellow.200");
  --clr-tabs-border: theme("colors.ibYellow.500");
  --clr-tabs-a: theme("colors.black");

  --clr-card-bg: theme("colors.white");
  --clr-card-fg: theme("colors.black");

  --clr-focus: theme("colors.black");
  --clr-focus-alt: theme("colors.white");

  --ff-primary: theme("fontFamily.sans");
  --ff-secondary: theme("fontFamily.serif");

  --fs-base: theme("fontSize.base");
  --fs-heading: theme("fontSize.3xl");
  --fs-sub-heading: theme("fontSize.2xl");
  --fs-micro-copy: theme("fontSize.sm");
}

@layer base {
  // Roboto
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Thin.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-ThinItalic.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Light.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-LightItalic.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Italic.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Bold.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-BoldItalic.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-Black.ttf) format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(./../assets/fonts/Roboto/Roboto-BlackItalic.ttf) format(truetype);
  }

  // Playfair Display
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: variable-exists($name: PlayfairDisplay-VariableFont_wght);
    font-display: swap;
    src: url(./../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
      format(truetype);
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: variable-exists(
      $name: PlayfairDisplay-Italic-VariableFont_wght
    );
    font-display: swap;
    src: url(./../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf)
      format(truetype);
  }
}

body {
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  background-image: url(./../assets/images/ib-pattern-c.jpg);
  background-size: 3em 3em;
  font-size: var(--fs-base);
  font-family: var(--ff-primary);
}

:focus {
  outline: thin solid var(--clr-focus);
  border: thin solid var(--clr-focus-alt);
  border-radius: theme("borderRadius.sm");
  overflow: hidden;
}

a {
  --_a-clr: var(--clr-a);
  --_a-decoration: underline;

  --_a-hover-clr: var(--clr-a-hover);
  --_a-hover-decoration: underline;

  color: var(--_a-clr);
  text-decoration: var(--_a-decoration);

  &:active,
  &:visited {
    color: var(--_a-clr);
    text-decoration: var(--_a-decoration);
  }

  &:hover {
    color: var(--_a-hover-clr);
    text-decoration: var(--_a-hover-decoration);
  }
}

main {
  --_main-spacer: var(--primary-spacer);

  padding-inline-start: var(--_main-spacer);
  padding-inline-end: var(--_main-spacer);
  padding-block-start: var(--_main-spacer);
  padding-block-end: calc(var(--_main-spacer) + var(--header-height-sm));
}

.wrapper {
  --_wrapper-width: var(--wrapper-width);

  width: min(100%, var(--_wrapper-width));

  &-centered {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

.q-container {
  container-type: inline-size;

  &-main {
    container-name: q-container-main;
  }
}

.flow {
  --_flow-spacer: var(--flow-spacer);

  & > * + * {
    margin-block-start: var(--_flow-spacer);
  }
}

@media screen and (width > theme("screens.md")) {
  main {
    padding-block-start: calc(var(--_main-spacer) + var(--header-height-lg));
    padding-block-end: var(--_main-spacer);
  }
}

@layer utitlities {
  .text-balance {
    text-wrap: balance;
  }
}
